<div class="row ui-widget-content" id="chat-box">
    <div class="col s12 m12">
        <div class="card blue lighten-3">
            <div class="card">
            </div>
            <div>
                <input type="text" id="message" value="message" />
                <button id="send-message" class="btn">Send</button>
                <br />
            </div>
            <div class="card-content black-text human-text white" id="messages">

            </div>
        </div>
    </div>
</div>


