<li>@Html.ActionLink("Send Message", "", "")</li>
<li>@Html.ActionLink("Send Orders", "", "")</li>
<li>@Html.ActionLink("View squads", "", "")</li>
<li>@Html.ActionLink("Communication Terminal", "", "")</li>
