@model MilitarySystem.Web.Areas.Administration.Models.InputModels.SquadInputModel
@{
    ViewBag.Title = "SquadInputModel";
}

@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    <div class="col-md-10">
        @Html.EditorFor(m => m.Id, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EditorFor(m => m.Name, new { @class = "form-control" })
    </div>
</div>



