body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("background1.jpg");
}

a{
    text-decoration : none !important;

}
.flexible-box{
    position: absolute !important;
    width: 400px !important;
    left:15px;
    top:190px;
}


.flexible-box>div{
    width: 400px !important;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.main-content{
    margin: 20px;
    min-height:800px;
    max-height:800px;
    max-width:1980px;
}

.brand-logo{
    margin-top:-17px;
}

#nav-bar>ul>li>a{
    font-size: 20px;
}

.nav-text>li>a{
    font-size:20px;
}

.human-text{
    font-size: 18px;
}

.wage-text{
    color:forestgreen;
}

.white-background{
    background-color: white;
}

input[type=text]{
    font-size:18px;
}

input[type=textarea]{
    height: 80px;
}

input[type=password]{
    font-size:18px;
    
}


label{
  font-size:18px;
}

#tab-container{
    width:400px;
    height:50px;
    margin: -15px;
    border-radius: 10px;
    border-top: 1px solid white; 
}

#tab-bar{
    width:400px;
    height:auto;
        
}

#message-grid {
    max-height: 500px;
        overflow:scroll;
}
#message-details-box {
       max-height: 500px;
}
.tab-item{
    margin-right:5px;
}

.floating-box {
    min-height: 100px !important;
}

.text-area-messanger{
    height: 100px;
    min-height: 100px;
}